<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.data.profile.name }} · {{ site.data.profile.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="./assets/images/favicon.png">

  <!-- fonts are self-hosted (see @font-face in style.css) -->
  <link rel="preload" as="font" type="font/woff2" href="./assets/fonts/poppins-latin-400.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="./assets/fonts/poppins-latin-500.woff2" crossorigin>

  <!-- custom css link -->
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
